<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Account Creation</title>
<style media="screen">
.modal-dialog{
  position: relative;
  display: table; //This is important
  overflow-y: auto;
  overflow-x: auto;
  width: auto;
  min-width: 50%;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
	font-size: 60%;
}

th {
	font-size: 50%;
}

</style>
</head>

<body >
  <div id="m_accmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="container">
          <div style="padding-top:4px" class="mainbox col-md-6">
            <div class="panel panel-info shadow" >
              <div class="panel-heading">
                <div class="panel-title">Create Account</div>

              </div>

              <div style="padding-top:4px" class="panel-body" >


                <form id="m_accountform" class="form-horizontal">

                  <div style="margin-bottom: 4px" class="col-xs-12 from-group">
                    <label for="groupname" id="m_gname"><u>G</u>roup Name :</label>
                    <select class = "form-control gsselect input-sm" id="m_groupname"  name = "groupname" required data-msg="Please select a group" accesskey="g">
                      <option value="" disabled selected hidden>Select Group</option>
                      {% for grps in gkresult %}
                      <option value="{{grps['groupcode']}}">{{grps["groupname"]}}</option>
                      {% endfor %}
                    </select>
                    <br/>
                    <label for="subgroupname" id="m_sname">Sub-Group <u>N</u>ame :</label>
                    <select class = "form-control gsselect input-sm" id="m_subgroupname" name="subgroupname" required data-msg="Please select a sub-group" accesskey="n">
                      <option value="" disabled selected hidden>Select Sub-Group</option>
                    </select>
                    <br/>
                    <div id="m_nsgp" style="margin-bottom: 4px" class="input-group">
                      <label for="newsubgroup" id="m_newsgrp">Sub-Group Name :</label>
                      <input type="text" id="m_newsubgroup" class="form-control input-sm" name="newsubgroup" placeholder="New Sub-Group Name" required data-msg="Please enter sub-group name" ></input>
                    </div>
                    <label for="accountname" id="m_accname"><u>A</u>ccount Name :</label>
                    <input type="text" id="m_accountname" class="form-control input-sm" name="accountname" required data-msg="Please enter account name" accesskey="a"></input>
                    <br/>
                    <label for="openbal" id="m_obal"><u>O</u>pening Balance :</label>
                    <input id="m_openbal" name="openbal" value="0.00" class="form-control input-sm" type="text" placeholder="0.00" style="text-align:right" accesskey="o"/>
                    <br/>
                    <button type="submit" class="btn btn-primary btn-sm" id="m_submit" name="submit" accesskey="s"><u>S</u>ubmit</button>
                    <button id="m_reset" class="btn btn-danger btn-sm" accesskey="r"><u>R</u>eset</button>

                  </div>
                </form>
              </div>
            </div>
          </div>
          <div style="padding-top:4px" class="col-md-6 shadow" id="m_baltbl">
            <table class="table table-hover table-condensed">
              <thead>
                <tr class="success">
                  <th>{{baltbl[0]}}</th>
                </tr>
                <tr class="info">
                  <th>Group Name</th>
                  <th>No. of accounts</th>
                  <th>Group Balance</th>
                </tr>
              </thead>
              <tbody>
                {% for i in range(1,5) %}
                <tr>
                  <td>{{baltbl[i]["groupname"]}}</td>
                  <td align="right">{{baltbl[i]["numberofaccounts"]}}</td>
                  <td align="right">{{baltbl[i]["groupbalance"]}}</td>
                </tr>
                {% endfor %}
                <tr class="info">
                  <th>Total</th>
                  <th></th>
                  <td align="right"><b>{{baltbl[5]["Total"]}}</b></td>
                </tr>
              </tbody>
            </table>
            <table class="table table-hover table-condensed ">
              <thead>
                <tr class="success">
                  <th >{{baltbl[6]}}</th>
                </tr>
                <tr class="info">
                  <th>Group Name</th>
                  <th>No. of accounts</th>
                  <th>Group Balance</th>
                </tr>
              </thead>
              <tbody>
                {% for i in range(7,((baltbl|length)-2)) %}
                <tr>
                  <td>{{baltbl[i]["groupname"]}}</td>
                  <td align="right">{{baltbl[i]["numberofaccounts"]}}</td>
                  <td align="right">{{baltbl[i]["groupbalance"]}}</td>
                </tr>
                {% endfor %}
                <tr class="info">
                  <th>Total</th>
                  <th></th>
                  <td align="right"><b>{{baltbl[((baltbl|length)-2)]["Total"]}}</b></td>
                </tr>
                <tr class="info">
                  <th>Difference in Total</th>
                  <th></th>
                  <td align="right"><b>{{baltbl[((baltbl|length)-1)]["Difference in balance"]}}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createaccountpopup.js')}}"></script>
</body>
</html>
