
<!DOCTYPE html>
<html>
<head>
  <title>
    GNUKhata
  </title>

  <style>
  .login-box{
    background-color: rgba(220, 225,225,0.4);
  }

  </style>
</head>
<body>

  <div class='container-fluid'>

  </div>

  <div class="container-fluid">
      <div id="loginbox" style="margin-top:10px;" class="mainbox col-md-6 col-md-offset-3">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Create New User</div>
        </div>

        <div style="padding-top:15px" class="panel-body" >
          <form id="adduser" method="post" action="createuser" class="form-horizontal">
            <div class="alert alert-danger" id="username-blank-alert" hidden>
              <a href="#" class="close" aria-label="close">&times;</a>
              Please enter username!
            </div>
            <div class="alert alert-danger" id="password-blank-alert" hidden>
              <a href="#" class="close" aria-label="close">&times;</a>
              Please enter password!
            </div>
            <div class="alert alert-danger" id="cnfpass-blank-alert" hidden>
              <a href="#" class="close" aria-label="close">&times;</a>
              Please re-enter password!
            </div>
            <div class="alert alert-danger" id="checkpassuser-blank-alert" hidden>
              <a href="#" class="close" aria-label="close">&times;</a>
              Password doesn't match!
            </div>
            <div class="alert alert-danger" id="role-blank-alert" hidden>
              <a href="#" class="close" aria-label="close">&times;</a>
              Please select role!
            </div>
            <div class="alert alert-danger" id="secque-blank-alert" hidden>
              <a href="#" class="close" aria-label="close">&times;</a>
              Please enter security question!
            </div>
            <div class="alert alert-danger" id="secans-blank-alert" hidden>
              <a href="#" class="close" aria-label="close">&times;</a>
              Please enter the answer of security question!
            </div>
            <div class="alert alert-success" id="success-blank-alert" hidden>
              <a href="#" class="close" aria-label="close">&times;</a>
              User successfully added!
            </div>
            <div class="alert alert-danger" id="DuplicateEntry-blank-alert" hidden>
              <a href="#" class="close" aria-label="close">&times;</a>
              User already exists!
            </div>
            <div class="alert alert-danger" id="BadPrivilege-blank-alert" hidden>
              <a href="#" class="close" aria-label="close">&times;</a>
              You don't have authentication to add new user!
            </div>
            <div style="margin-bottom: 10px" class="input-group col-xs-12">
              <label for="name" id="usrname"><u>U</u>sername :</label>
              <input id="name" type="text" class="form-control" name="username" accesskey="u"></input>
            </div>
            <div style="margin-bottom: 10px" class="input-group col-xs-12">
              <label for="password" id="usrpwd"><u>P</u>assword :</label>
              <input name="userpassword" id="password" type="password" class="form-control" accesskey="p"></input>
            </div>
            <div style="margin-bottom: 10px" class="input-group col-xs-12">
              <label for="confirm_password" id="pwdconfirm"><u>C</u>onfirm Password :</label>
              <input name="cnfpassword" type="password" id="confirm_password" class="form-control" accesskey="c"></input>
            </div>
            <div style="margin-bottom: 10px" class="input-group col-xs-12">
              <label for="userrole" id="pwdconfirm">Select <u>R</u>ole :</label>
              <select name="userrole" id="userrole" type="text" class="form-control" accesskey="r">
                <option value="" disabled selected hidden>Select a role</option>
                <option value="0">Manager</option>
                <option value="1">Operator</option>
              </select>
            </div>
            <div style="margin-bottom: 10px" class="input-group col-xs-12">
              <label for="question" id="secquestion">Security <u>Q</u>uestion :</label>
              <input name="userquestion" type="text" class="form-control" placeholder="Security Question" id="question" accesskey="q"></input>
            </div>
            <div style="margin-bottom: 10px" class="input-group col-xs-12">
              <label for="answer" id="secanswer">Security <u>A</u>nswer :</label>
              <input name="useranswer" type="text" class="form-control" placeholder="Security Answer" id="answer" accesskey="a"></input>
            </div>
            <button type="submit" class="btn btn-success" accesskey="c"><u>C</u>reate</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createuser.js')}}"></script>

</body>
</html>
