<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">

.selected
{
  background-color: Aquamarine;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
  font-size: 80%;
    }

    th {
      font-size: 75%;
        }

</style>
</head>
<body>
  <input type="hidden" id="urole" name="urole" value="{{userrole}}"></input>
  <div class="table-responsive shadow">
    <table id="vtable" class="table table-bordered table-condensed">
        <thead>
          <tr class="info ">
          <th>Voucher No.</th>
          <th>Status</th>
          <th>Date</th>
          <th>Type</th>
          <th>Dr Accounts</th>
          <th>Cr Accounts</th>
          <th>Dr Amounts</th>
          <th>Cr Amounts</th>
          <th>Narration</th>
          </tr>
        </thead>
      <tbody>
        {% for vc in vouchers %}
        <tr  value="{{vc['vouchercode']}}">
          <td >
            <a class="vno" href="">{{vc['vouchernumber']}}</a>
          </td>
          {% if (vc['status']) %}
          <td style="color:red; text-align:center">*</td>
          {% else %}
          <td style="color:red; text-align:center"> </td>
          {% endif %}
          <td>
            {{vc['voucherdate']}}
          </td>
          <td>
            {{vc['vouchertype']}}
          </td>
          <td>
            {{vc["drs"].keys()[0]}}
          </td>
          <td>
            {{vc["crs"].keys()[0]}}
          </td>
          <td style="text-align:right">
            {{vc["drs"][vc["drs"].keys()[0]]}}
          </td>
          <td style="text-align:right">
            {{vc["crs"][vc["crs"].keys()[0]]}}
          </td>
          <td>
            {{vc['narration']}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="viewvc">
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/findvouchertable.js')}}"></script>
</body>
</html>
